<div>
  <section class="icon">
    <img src="../../assets/chothao.png" height="100" width="100"/>
  </section>
  
    <h3>Đăng nhập T&T</h3><br/>
    <table align="center">
      <tr>
            <input placeholder="ID của bạn" class="inputleft" id="mot"> <br/>
      </tr>
      <tr>
            <input type="password" placeholder="Password" class="inputleft"  id="hai">
            <input type="image" src="../../assets/right.jpg"   id="ba">
      </tr>
    </table>
    <input type="checkbox">
    <p>Duy trì đăng nhập</p>

  
</div>
