<div>
  <h1> WHAT DO YOU WANT TO DO? </h1>
  <div>
    
    <!-- Reminder -->
    <div class="container1" [routerLink] = "['/reminder']">
      <img class="image" src="../../../assets/reminder.png" width="300px" height="300px"/>
      <div class="middle">
        <div class="text" ><p>Reminder</p></div>
      </div>
    </div>

    <!-- Clock -->
    <div class="container2">
      <img class="image" src="../../../assets/clock.png" width="270px" height="270px"/>
      <div class="middle">
        <div class="text"><p>Alarm</p></div>
      </div>
    </div>
    
  </div>
</div>
<router-outlet></router-outlet>